## Analysis 1

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_pickle('../data/pickled/gdelt.pickle')

In [8]:
df = df[['ActionGeo_CountryCode','AvgTone','NumArticles','GoldsteinScale','QuadClass','EventRootCode','IsRootEvent','Actor2Type1Code','Actor1Type1Code','SQLDATE', 'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor2CountryCode','Actor2Code', 'Actor2Name', ]]

In [9]:
df.head(1).apply(lambda x:print(x), axis=1)

ActionGeo_CountryCode                   US
AvgTone                  -2.79955207166853
NumArticles                              1
GoldsteinScale                         4.0
QuadClass                                1
EventRootCode                           03
IsRootEvent                              0
Actor2Type1Code                        NaN
Actor1Type1Code                        NaN
SQLDATE                           20170101
Actor1Code                             NaN
Actor1Name                             NaN
Actor1CountryCode                      NaN
Actor2CountryCode                      CAN
Actor2Code                             CAN
Actor2Name                          CANADA
Name: 613248559, dtype: object

GLOBALEVENTID
613248559    None
dtype: object

In [10]:
df.describe()

,ActionGeo_CountryCode,AvgTone,NumArticles,GoldsteinScale,QuadClass,EventRootCode,IsRootEvent,Actor2Type1Code,Actor1Type1Code,SQLDATE,Actor1Code,Actor1Name,Actor1CountryCode,Actor2CountryCode,Actor2Code,Actor2Name
count,377348,377348,377348,377330,377348,377348,377348,108196,115052,377348,361693,361693,286150,257711,329938,329938
unique,158,103029,833,42,4,20,2,31,32,281,1518,2722,193,191,1497,2625
top,US,0,2,2.8,1,04,1,GOV,GOV,20170127,USA,UNITED STATES,USA,USA,USA,UNITED STATES
freq,180893,7723,125107,35247,251725,116904,205329,46494,51250,8162,111010,81718,133311,114994,94958,70922

In [ ]:
# identify date, categorical, ordinal